body {
    background-color: #F5F5F5;
}

.bg-blue {
    background: #546FF1;
}

.btn-orange {
    color: #fff;
    background-color: #FFB347;
}
.btn-orange:hover {
    color: #fff;
    background-color: #E6A136;
}

.text-blue {
    color:#546FF1;
    background-color:transparent;
}
.text-blue.active {
    color:#fff;
    background-color:#FFA726;
}


body {
    /*background-color: #7ba4f4;*/
    margin: 0;
    padding: 0;
}

#slide-container {
    position: relative;
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-card {
    width: 90%;
    height: 75vh;
    border-radius: 1.5rem;
    background-color: white;
    color: black;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    /* Animation */
    opacity: 0;
    transform: translateX(50px);
    animation: slideIn 0.4s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-card h1 {
    font-size: 3rem;
}

#arrow-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 0 2rem;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
}

#arrow-controls button {
    pointer-events: auto;
    width: 50px;
    height: 50px;
    font-size: 24px;
    transition: opacity 0.3s ease;
    visibility: visible;
    opacity: 1;
}

/* Navbar icon style */
.nav-icon-small {
    font-size: 1.6rem;
    padding: 6px;
    border-radius: 50%;
    transition: color 0.2s ease;
    cursor: pointer;
}

.nav-icon-small:hover,
.nav-icon-small:focus {
    color: #FFC107;
    outline: none;
}

.slide-card .text-success {
    font-size: 1.2rem;
    color: #FFC107 !important;
}