.bg-blue {
    background: #546FF1;
}

.btn-orange {
    color: #fff;
    background-color: #FFB347;
}
.btn-orange:hover {
    color: #fff;
    background-color: #E6A136;
}

.text-blue {
    color:#546FF1;
    background-color:transparent;
}
.text-blue.active {
    color:#fff;
    background-color:#FFA726;
}

.btn-nav {

}

.btn-nav.active {
    width: "40px";
    height: "40px";
}