.bg-header {
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 108px;
    margin-bottom: -4.5rem;

    /*padding: 3rem 0rem 40%;  Alternativ*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 382px;
}

.login-card {
    z-index: 1;          /*z-1*/
}

.bg-blue {
    background: #546FF1;
}

.btn-orange {
    color: #fff;
    background-color: #FFB347;
}
.btn-orange:hover {
    color: #fff;
    background-color: #E6A136;
}